@charset "UTF-8";

/* 
    Paleta de cores
    verde: #49a09d
    Lilás: #5f2c82
*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 515px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
}
#imagem > img {
    width: 250px;
    height: 190px;
    border-radius: 20px 20px 0px 0px;
}
#mensagem {
    padding: 5px;
}
#mensagem > h1 {
    display: block;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 4px;
}
#mensagem > p {
    display: block;
    font-size: 0.8em;
    padding: 8px 8px 0px 8px;
    font-size: light;
    color: rgba(0, 0, 0, 0.788);
}
div#usuario {
    margin: auto;
    width: 230px;
    background-color: #5f2c82;
    border-radius: 10px;
    margin-bottom: 5px;
}
#senha {
    margin: auto;
    width: 230px;
    background-color: #5f2c82;
    border-radius: 10px;
    margin-bottom: 5px;
}
div#usuario > p {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
div#senha > p {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
input#iemail {
    border: 2px solid #5f2c82;
    border-radius: 10px;
    height: 42px;
    width: 180px;
    background-color: rgb(163, 217, 250);
}
input#isenha {
    border: 2px solid #5f2c82;
    border-radius: 10px;
    height: 42px;
    width: 180px;
    background-color: rgb(163, 217, 250);
}
#boneco {
    color: white;
    font-size: 2em;
    margin-top: 6px;
    margin-left: 8px;
}
#chave {
    color: white;
    font-size: 2em;
    margin-top: 6px;
    margin-left: 8px;
}
div#botoes {
    text-align: center;
}
#ientrar {
    margin-bottom: 5px;
    width: 225px;
    height: 42px;
    background-color: #49a09d ;
    border: 1px solid #49a09ddc;
    border-radius: 8px;
    color: white;
    font-size: 0.95em;
    cursor: pointer;
}
#iesqueci {
    margin-bottom: 5px;
    width: 225px;
    height: 42px;
    background-color: white ;
    border: 1px solid #49a09d;
    border-radius: 8px;
    color: #2a5857;
    font-size: 0.95em;
    cursor: pointer;
}
#ientrar:hover {
    background-color: #377976 ;
}
#iesqueci:hover {
    background-color: lightblue;
}